body {
  font-family: 'Bellefair', serif;
  margin: auto;
  width: 1200px;
}

header, #work {
  height: 550px;
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

li {
  display: inline-block;
  margin-right: 1px;
}

#about #skills {
  height: 700px;
}

#contact {
  height: 350px;
}

.full-width {
  width: 100%;
}

.half-width {
  float: left;
  width: 50%;
}

.third-width {
  float: left;
  width: 30%;
}

/* Header */

.full-width header {
  background-color: #d4c685;
  color: red;
  display: block;
  padding: 40px;
}

h1 {
  font-family: 'Macondo', 'cursive';
  font-size: 55px;
  text-decoration: overline;
}

header a {
  font-family: 'Macondo', cursive;
  font-size: 20px;
  margin: 10px;
  padding: 5 5 5 0px;
  text-decoration: overline;
  text-transform: uppercase;
}

header p {
  font-size: 35px;
  padding-top: 50px;
  width: 100%;
}


/* All h2 headings */

h2 {
  font-family: 'Macondo', 'cursive';
  font-size: 40px;
  padding: 20px;
  text-decoration: overline;
  width: 100px;
}

/* About */

#about h2{
  background-color: #d9dbaa;
  font-family: 'Macondo', 'cursive';
  font-size: 40px;
  text-decoration: overline;
  width: 1160px;
}

#about .half-width p {
  float: left;
  font-size: 25px;
  padding-top: 80px;
  padding-bottom: 50px;
  padding-left: 20px;
  width: 80%;
}

#about .half-width img {
  float: right;
  height: 60%;
  margin-top: 100px;
  margin-right: 100px;
  margin-bottom: 160px;
  width: 60%;
}

/* Skills */

#skills .third-width {
  align-items: center;
  background-color: #d4c685;
  border: 2px dashed #283c2c;
  height: 500px;
  margin: 18px;
  text-align: left;
  width: 360px;
}

#skills h2 {
  background-color: #d4c685;
  clear: both;
  font-family: 'Macondo', 'cursive';
  font-size: 40px;
  text-decoration: overline;
  width: 1160px;
}

#skills h4 {
  font-family: 'Bellefair', serif;
  font-size: 30px;
  text-align: center;
}

#skills p {
  font-family: 'Bellefair', serif;
  font-size: 15px;
  text-align: justify;
  width: 300px;
}

img.icon {
  margin-left: 90px;
}

img.brackets {
  padding-left: 90px;
}

/* Work */

#work h2 {
  background-color: #629b6b;
  clear: both;
  font-family: 'Macondo', 'cursive';
  font-size: 40px;
  text-decoration: overline;
  width: 1160px;
}

#work .third-width {
  height: 400px;
  margin: 20px;
  text-align: left;
  width: 360px;
}

#work p {
  font-family: 'Bellefair', serif;
  font-size: 15px;
  text-align: justify;
  width: 360px;
}

/* Contact */

#contact h2 {
  font-family: 'Macondo', 'cursive';
  font-size: 40px;
  text-align: left;
  text-decoration: overline;
  width: 1160px;
}

#contact {
  background-color: #d9dbaa;
  clear: both;
  font-size: 30px;
  padding-bottom: 15px;
  text-align: center;
}

#contact .half-width p {
  background-color: #d9dbaa;
  width: 580px;
}

/*Header for Inspo Page*/

.inspiration,p{
  background-color: #d4c685;
  color: #581845;
  display: block;
  font-family: 'Bellefair', serif;
  font-size: 23px;
  padding: 10px;
  text-align: center;
  width: 1240px;
}

/*Masonry On Inspo Page*/

.masonry { /*Masonry container*/
  column-count: 4;
  column-gap: 1em;
}

.item { /*Masonry bricks or child elements*/
align-content: center;
  background-color: #eee;
  display: inline-block;
  margin: 0 0 1em;
  width: 100%;
}
